[Unit]
Description=gunicorn daemon

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/bidstake-test
ExecStart=/usr/bin/gunicorn --bind 0.0.0.0:8000 gunicorn.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target