[Unit]
Description=gunicorn daemon

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/bidstake-test
ExecStart=/usr/bin/python/home/ubuntu/bidstake-test/manage.py runserver 0.0.0.0:8000
Restart=always

[Install]
WantedBy=multi-user.target