body{
    
    background: linear-gradient(90deg, #a39d9d , #007bff);

}

.login-box {
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    border: 4px solid #989595;
    border-radius: 25px;
    background-color: #a39d9d;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    background: linear-gradient(180deg, #007bff , #989595);
}

.login-box label {
    display: block;
    margin-bottom: 10px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 9px;
    margin-bottom: 15px;
    border: 4px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-box input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    
}

.login-box input[type="submit"]:hover {
    padding-right: 50px;
    background-color:#04ff00;
}
