body{
    background-color: #a39d9d;
}

.login-box {
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    border: 4px solid #989595;
    border-radius: 5px;
    background-color: #a39d9d;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.login-box label {
    display: block;
    margin-bottom: 10px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 4px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.login-box input[type="submit"]:hover {
    background-color: #08ee0c;
}
